<!DOCTYPE html>
<html>
  <head>
    <title>MjFrontend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid" id="pgContainer">
    <div class="row" id="pgHeader">
      <div class="col-lg-6 col-xs-12">
        MeJelly
      </div>
      <div class="col-lg-6 col-xs-12 text-right">Login</div>
    </div>

    <%= yield %>
  </div>
  </body>
</html>
